@model IEnumerable<HouseworkManager.Models.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Groups</h1>


<h4 class="mt-3">Groups you manage</h4>
<hr />
@if (ViewBag.AdminstratingGropus == null)
{
    <div>No Group</div>
}else{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.AdminstratingGropus)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.GroupID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.GroupID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.GroupID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<p>
    <button type="button" class="btn btn-info"><a class="nav-link" asp-action="Create">Create New</a></button>

</p>


<h4 class="mt-5">Groups you belong to</h4>
<hr />
@if (Model == null)
{
    <div>No Group</div>
}else{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdministratorID)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdministratorID)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.GroupID">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
