@model IEnumerable<HouseworkManager.Models.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-center">Groups</h1>
<div class="d-flex">
    <h4 class="mt-2 me-3">Groups You Created</h4>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</div>
<hr />
@if (ViewBag.AdminstratingGropus.Count == 0)
{
    <div>No Group</div>
}else{
    <div class="container">
        <div class="row">
            @foreach (var item in ViewBag.AdminstratingGropus)
            {
            <div class="col-md-3">
                <div class="card border-info mb-3">
                    <div class="card-header">@item.Name</div>
                    <div class="card-body">
                        <p class="card-text">@item.Description.</p>
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.GroupID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.GroupID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.GroupID">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
}

<h4 class="mt-5">Other Groups You Belong to</h4>
<hr />
@if (Model != null && Model?.Count() > 0)
{
        <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card border-success mb-3">
                        <div class="card-header">@Html.DisplayFor(modelItem => item.Name)</div>
                        <div class="card-body">
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                            <div>
                                <a asp-action="Details" asp-route-id="@item.GroupID">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}else{
    <div>No Group</div>
}
