@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<HouseworkManager.Models.Task>

@{
    ViewData["Title"] = "Home";
}

    @if (SignInManager.IsSignedIn(User))
    {
    <div class="pt-2">
        <h1 class="display-4 text-center">Your Tasks Not Completed</h1>
        <p>
            <a class="btn btn-info" asp-controller="Tasks" asp-action="Create" asp-route-from="1">Add Task</a>
        </p>
        <hr />
        @if (Model != null && Model?.Count() > 0)
        {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Done)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Deadline)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Group)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deadline)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Done)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Group.Name)
                        </td>
                        <td>     
                            <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@item.TaskID" asp-route-from="1">Edit</a> |
                            <a asp-controller="Tasks" asp-action="Details" asp-route-id="@item.TaskID" asp-route-from="1">Details</a> |
                            <a asp-controller="Tasks" asp-action="Delete" asp-route-id="@item.TaskID" asp-route-from="1">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
        else
        {
            <p>You have no task for now</p>
        }
    </div>
    }
    else
    {
    <div class="text-center py-5">
        <h1 class="display-4">Welcome to Housework Manager</h1>
        <h3>This is a great tool to manage your houseworks!</h3>
        <div>
            <a class="btn btn-danger btn-lg" asp-area="Identity" asp-page="/Account/Register">Register Now!</a>
            <a class="btn btn-success btn-lg" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
        <div class="w-75 mx-auto mt-5">
            <h4 class="text-start">Group Management</h4>
            <img class="w-100 border mb-3" src="~/images/home/groups.png" alt="Alternate Text" />
            <h4 class="text-start mt-3">Task Management</h4>
            <img class="w-100 border border " src="~/images/home/tasks.png" alt="Alternate Text" />
        </div>
    </div>
    }

