@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String[] tHeads = ["Done", "Name", "Description", "Deadline", "Assignee", ""];
}

<h1>Tasks</h1>

<p>
    <button type="button" class="btn btn-info"><a class="nav-link" asp-action="Create">Create New</a></button>
</p>

<!-- Group Tab -->
<ul class="nav nav-tabs" role="tablist">
@foreach (KeyValuePair<string, dynamic> entry in ViewBag.Tasks)
{
    <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#@entry.Key" aria-selected="true" role="tab">@entry.Key</a>
    </li>    
}
</ul>

<!-- Tab Contents -->
<div id="myTabContent" class="tab-content mt-3">
@foreach (KeyValuePair<string, dynamic> entry in ViewBag.Tasks)
{
     <div class="tab-pane fade" id="@entry.Key" role="tabpanel">

    <table class="table mb-5">
        <thead>
            <tr>
            @foreach (String head in tHeads)
            {
                <th>@head</th>
            }
            </tr>
        </thead>
        <tbody>
            @foreach (var task in entry.Value)
            {
                <tr>
                    <td>

                        <input class="check-box" disabled="disabled" type="checkbox" value="@task.Done">
                    </td>
                    <td>
                        @task.Name
                    </td>
                    <td>
                        @task.Description
                    </td>
                    <td>
                        @task.Deadline
                    </td>
                    <td>
                        @task.UserID
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@task.TaskID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@task.TaskID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@task.TaskID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}
</div>

<script src="~/js/task.js" asp-append-version="true"></script>
