@model IEnumerable<HouseworkManager.Models.GroupMember>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Gropu Members</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupMemberID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupMemberID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupMemberID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
